body {
background: linear-gradient(0deg, rgba(149,34,195,1) 0%, rgba(253,109,45,1) 100%);
height: 100vh;
}

input{
    vertical-align: bottom;
}

#opponentProperties{
    display: flex;
    flex-direction: column;
}

.playerProperties{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

div{
    margin: 1rem;
}


div div{
    padding: 1rem;
}


img{
    border: 0.1rem black solid;
}