body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 2rem;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
    height: 100vh;
}


/* Dit is voor de spinner zelf */
#spinner-border{
    display: flex;
    align-items: center;
    padding: 100%;
}

/* Dit is waar de player in zit */
.playercard{
    display: flex;
    flex-direction: row;
    border: solid 1px white; 
    margin: 0.5rem;
    width: 25%;
    height: 100%;
}
.loading-text {
    padding: 0.5rem;
}
h1{
    margin: 3rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace,Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace,Arial, Helvetica, sans-serif;
}
.spinner {
  border: 10px solid white; 
  border-top: 10px solid black; 
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input {
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: auto;
    z-index: -1;
    filter: opacity(90%);
  }
